extends layout

block content
    .pb-2.mt-2.mb-4.border-bottom
        h2 About the Program
    hr
    .content
      p JIIT Month of Code is an online programme by JODC, the open-source community of Jaypee Institute of Information Technology (JIIT) Noida-128, focused on introducing students to open source software development and documentation writing. Students will collaborate and contribute to open-source projects under the guidance of mentor(s) for a month during the winter.
      p Mentors are expected to submit their projects while applying as a mentor to the program, by January 1, 2020. Selected mentors will have their projects listed on the website by January 3 and are expected to guide any student who is interested to work on an issue in their project(s) for the program's tenure.
      p Students are expected to apply as a participant by January 1, 2020. The selected projects and mentor contact details for each project will be listed on the website by January 3, 2020 for students to go through. The contribution period begins on January 5, 2020 and will end on February 5, 2020.
      p Students may select any issue to work on from the projects listed, inform the same to the mentor monitoring the project and join the project’s communication channel. Students may ask for help on any issue from the project mentor, and mentors shall monitor student progress on issues.
      p At the end of the program, mentors are expected to provide feedback to the students who have contributed to their project's issues. Students will be assigned a pass or fail grade by the organisers and will be provided with mentor feedback. All successful students and active mentors will be provided with a digital certificate and swag from the organising team.
      br
      br
      br

    .pb-2.mt-2.mb-4.border-bottom
        h2 About the Organising team
    hr
    .content
      p According to GitHub’s “State of the Octoverse” report, 99% of software projects in the world use Open Source Technologies in some way or the other. Open source has undoubtably changed the world, and we, the JIIT Open-Source Developers Circle aim to help students to become a part of it.
      p The JODC is an initiative by the students of JIIT-128 to promote open source culture. The hub is all about contributing to and collaborating on projects, networking, learning together and guiding students.
      p We conduct talks, workshops, activities, one-to-one sessions and dev-sprints to mentor students. We encourage them to volunteer for open source projects and organisations and participate in open source initiatives such as Google Summer of Code and Outreachy to become better developers and for the betterment of open source.
      p Join us at our&nbsp;
        a(href='https://en-gb.facebook.com/groups/311834316025184/') Facebook group
        | &nbsp;and&nbsp;
        a(href='https://discord.gg/W5gzyUj') Discord server
        | &nbsp;to connect with us and get to know about all our upcoming activities.
