extends layout

block content
    .pb-2.mt-2.mb-4.border-bottom
        h2 About
    hr
    .content
      p Month of Code is an online programme by the open-source community of Jaypee Institute of Information Technology (JIIT) Noida-128, the JODC, focused on introducing students to open source software development and documentation writing. Students will collaborate and contribute to open-source projects under the guidance of mentor(s) for a month during the winter.
      p Mentors are expected to submit their projects while applying as a mentor to the program, by January 1, 2020. Selected mentors will have their projects listed on the website by January 3 and are expected to guide any student who is interested to work on an issue in their project(s) for the program's tenure.
      p Students are expected to apply as a participant by January 6 2020. The selected projects and mentor contact details for each project will be listed on the website by January 3, 2020 for students to go through. The contribution period begins on January 5, 2020 and will end on February 5, 2020.
      p Students may select any issue to work on from the projects listed, inform the same to the mentor monitoring the project and join the project’s communication channel. Students may ask for help on any issue from the project mentor, and mentors shall monitor student progress on issues.
      p At the end of the program, mentors are expected to provide feedback to the students who have contributed to their project's issues. Students will be assigned a pass or fail grade by the organisers and will be provided with mentor feedback. All successful students and active members will be provided with a digital certificate and swag from the organising team. 
