extends layout

block content
    .pb-2.mt-2.mb-4.border-bottom
        h1 About
    hr   
    h3 JIIT Month of Code is an online programme by the open-source club of JIIT Noida, the JODC, focused on introducing students to open source software development and documentation writing. Students will collaborate and contribute to open-source projects under the guidance of mentor(s) for 3 weeks during the winter. 
    h3 Mentors are expected to submit their projects while applying as a mentor to the program, by January 6 2020. Selected mentors will have their projects listed on the website by January 8 and are expected to guide any student that is interested in working on an issue in their project.
    h3 At the end of the program, mentors are expected to provide feedback to the students that have worked on their project's issues. All active mentors will be provided with a digital certificate and swag from the organising team.