extends layout

block content
    .pb-2.mt-2.mb-4.border-bottom
        h1 About
    hr   
    p
    | Month of Code is an online programme by the open-source community of Jaypee Institute of Information Technology (JIIT) Noida-128, the JODC, focused on introducing students to open source software development and documentation writing. Students will collaborate and contribute to open-source projects under the guidance of mentor(s) for 4 weeks during the winter. 
    | Mentors are expected to submit their projects while applying as a mentor to the program, by January 1 2020. Selected mentors will have their projects listed on the website by January 3 and are expected to guide any student who is interested to work on an issue in their project(s).
    | At the end of the program, mentors are expected to provide feedback to the students who have contributed to their project's issues. All active mentors will be provided with a digital certificate and swag from the organising team.
