

// Footer
footer.page-footer.font-small.stylish-color-dark.pt-4
  // Footer Links
  .container.text-center.text-md-left
    // Grid row
    .row
      // Grid column
      .col-md-4.mx-auto
        // Content
        h5.font-weight-bold.text-uppercase.mt-3.mb-4 Footer Content
        p
          | Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
          | consectetur
          | adipisicing elit.
      // Grid column
      hr.clearfix.w-100.d-md-none
      // Grid column
      .col-md-2.mx-auto
        // Links
        h5.font-weight-bold.text-uppercase.mt-3.mb-4 Links
        ul.list-unstyled
          li
            a(href='#!') Link 1
          li
            a(href='#!') Link 2
          li
            a(href='#!') Link 3
          li
            a(href='#!') Link 4
      // Grid column
    // Grid row
  // Footer Links
  hr
  // Social buttons
  ul.list-unstyled.list-inline.text-center
    li.list-inline-item
      a.btn-floating.btn-fb.mx-1
        i.fab.fa-facebook-f  
    li.list-inline-item
      a.btn-floating.btn-tw.mx-1
        i.fab.fa-twitter  
    li.list-inline-item
      a.btn-floating.btn-gplus.mx-1
        i.fab.fa-google-plus-g  
    li.list-inline-item
      a.btn-floating.btn-li.mx-1
        i.fab.fa-linkedin-in  
    li.list-inline-item
      a.btn-floating.btn-dribbble.mx-1
        i.fab.fa-dribbble  
  // Social buttons
// Footer
