extends layout

block content
  #jmoc
  h1.jumbo-head &lt; JIIT MONTH OF CODE / &gt;
  .jumbo-button
    button.slide(onclick="window.location.href = '/signup';") MENTOR REGISTRATION  
    button.slide(onclick="window.location.href = '/signup';") STUDENT REGISTRATION

