extends layout

block content
  #jmoc
  h1.jumbo-head &lt; JIIT MONTH OF CODE / &gt;
  .jumbo-button
    button.slide(onclick="window.location.href = '/signup';") MENTOR REGISTRATION  
    button.slide(onclick="window.location.href = '/signup';") STUDENT REGISTRATION
  br 
  br
  br
  br
  br
  br
  .timeline 
    center Timeline
    br
    section#timeline
      article
        .inner
          span.circle
          h2 The Title
          p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis rutrum nunc, eget dictum massa. Nam
            faucibus felis nec augue adipiscing, eget commodo libero mattis.
      article
        .inner
          span.circle
          h2 The Title
          p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis rutrum nunc, eget dictum massa. Nam
            faucibus felis nec augue adipiscing, eget commodo libero mattis.
      article
        .inner
          span.circle
          h2 The Title
          p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis rutrum nunc, eget dictum massa. Nam
            faucibus felis nec augue adipiscing, eget commodo libero mattis.
      article
        .inner
          span.circle
          h2 The Title
          p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis rutrum nunc, eget dictum massa. Nam
            faucibus felis nec augue adipiscing, eget commodo libero mattis.
      article
        .inner
          span.circle
          h2 The Title
          p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis rutrum nunc, eget dictum massa. Nam
            faucibus felis nec augue adipiscing, eget commodo libero mattis.
