extends layout
block home
  #jmoc
    svg(viewbox='0 0 960 300')
      symbol#s-text
        text(text-anchor='middle' x='50%' y='80%') &lt; JMOC / &gt;
      g.g-ants
        use.text-copy(xlink:href='#s-text')
        use.text-copy(xlink:href='#s-text')
        use.text-copy(xlink:href='#s-text')
        use.text-copy(xlink:href='#s-text')
        use.text-copy(xlink:href='#s-text')
    h1.jumbo-head &lt; JIIT MONTH OF CODE / &gt;
    .jumbo-button
      button.slide(onclick="window.location.href = '/signup';") MENTOR REGISTRATION  
      button.slide(onclick="window.location.href = '/signup';") STUDENT REGISTRATION
  #box
    #about
      h1 About JMOC
      |  JIIT Month of Code is an online programme by the open-source club of Jaypee Institute of Information Technology, JIIT Noida-128, the JODC, focused on introducing students to open source software development and documentation writing. Students will collaborate and contribute to open-source projects under the guidance of mentor(s) for 4 weeks during the winter.
      br
      br
      br
      h1 Goal of the Program
      |  To introduce newcomers to open source on how to work with Git and GitHub, contribute to open-source projects, write documentation and understand open-source culture.
    #docs
      h1 Resources
      .box2
        button Student Manual
        button Mentor Manual
  .timeline
    h1 Timeline
    section#timeline
      article
        .inner
          span.circle
          h2 December 23, 2019
          p
            | Program started: Interested mentors sign up themselves and their projects/organisations on the website. Interested students begin applying to the program
      article
        .inner
          span.circle
          h2 January 1, 2020
          p
            | Mentor and Student registrations close: Both mentors and students are expected to complete their registrations by this date.
      article
        .inner
          span.circle
          h2 January 3, 2020
          p
            | Mentors and Projects Announced: Organising team selects the mentors and students for JMoC and are displayed on the website.
      article
        .inner
          span.circle
          h2 January 5, 2020
          p
            | Coding Period Starts: Students start contributing to the selected projects listed on the website.
      article
        .inner
          span.circle
          h2 February 5, 2020
          p
            | Coding Period Ends
      article
        .inner
          span.circle
          h2 February 7, 2020
          p
            | Results Announced: Mentors' feedback is released and results are announced.