extends layout

block content
    .pb-2.mt-2.mb-4.border-bottom
        h1 Leaderboard
    hr
    table.table.table-borderless.text-white
        thead
            tr
            th(scope='col') 
                h4 Rank
            th(scope='col') 
                h4 Handle
            th(scope='col') 
                h4 Points
        tbody
            tr
            th(scope='row') 
            td 
            td 
            tr
            th(scope='row') 
            td 
            td 
            tr
            th(scope='row') 
            td 
            td 
