extends layout

block content
    .pb-2.mt-2.mb-4.border-bottom
        h1 Leaderboard
    hr
    table.table.table-borderless.text-white
        thead
            tr
            th(scope='col') 
                h4 Rank
            th(scope='col') 
                h4 Handle
            th(scope='col') 
                h4 Points
        tbody
            tr
            th(scope='row') 1
            td <a href="https://github.com/im-prakher">@terabo</a>
            td 200
            tr
            th(scope='row') 2
            td <a href="https://github.com/av-00">@anyAnnie</a>
            td 180
            tr
            th(scope='row') 3
            td @lorem
            td 150
