extends layout

block content
    .pb-2.mt-2.mb-4.border-bottom
        h1 Mentor Manual
    hr   
h2 JIIT MONTH OF CODE
#INTRODUCTION
|What is JIIT Month of Code (JMoC) ?
|You all have seen the posters, promotions and website . Now the
|question arises what really is JMoC.
|So Here we go , a brief guide to what really JMoC is:
|JIIT MONTH of CODE is an initiative of JIIT Open-Source
|Developers Circle ( JODC -128), for students who have no
|experience in open source software development. So its an
|opportunity for them to fire up there skills and learn new tech and
|see how big organizations work. JMoC is also an opportunity to
|contribute to there code base under the mentor ship of more
|experienced and expert professionals as well as your own college
|seniors. All the work will be done on GITHUB , a website used for
|open source hosting and software collaborations.
|JMoC is similar in structure but much smaller in scope then
|Google Summer Of Code / Outreachy / Season of KDE / Rails
|Girls Summer Of Code/ Girls Script Summer Of code and many
|such similar programs.
|Students are expected to apply as a participant by January 6 2020.
|The selected projects and mentor contact details for each projectwill be listed on the website by January 8, 2020 for students to go
|through, and the contribution period begins on January 13, 2020.
|Students may select any issue to work on from the projects listed
|and inform the same to the mentor monitoring the project and join
|their communication channel. Students may ask for help on any
|issue from the project mentor, and mentors shall monitor student
|progress on issues.
|At the end of the program, students will be assigned a pass or fail
|grade by the organisers and be provided with mentor feedback. All
|successful students will be provided with a digital certificate and
|swag from the organising team.
|Goal of the program
|To introduce newcomers to open source on how to work with Git
|and GitHub, contribute to open-source projects, write
|documentation and understand open-source culture.
#Eligibility
|In order to apply as a student for JMoC
- You must at least be 13 years old
- You must own a GitHub account
- You must have the drive to learn!
|Why you should apply?
|- To expand your skillset
|- To learn how to work with Git and GitHub
|- To learn how to work in an open-source project
|- To get connected with mentors and similar-minded students
|- Swags!
|- For the spirit of open-source culture!Getting Started ?
|Have a GITHUB account
|Creating an account on github.com is the first step.
|You need to have a github account to to login and register for
|JMoC .
|If you are new to github there resources might help:
|→ An Intro to Git and GitHub for Beginners (Tutorial)
|→ Introduction to GitHub
|→ How to Install Git on Linux, Mac or Windows
|Register For the event at the website
|Creating a GitHub account isn't just enough you also need to
|register for the JMoC on its website and allow necessary
|permissions to access in order track your progress.
|Selecting a project and making your contact
|you need to select a project to work on and contribute to. There will
|be issues in the project listed on GitHub and you can also add new
|issues after you find a bug or give a proposal to add a new feature to
|the project after discussing with the mentor of the project.
|You can contact the mentor of the project at the specified
|communication channels or IRC .
|Contact
|For further details contact us at jiitodc@gmail.com
|.
|HAPPY CODING