extends layout

block content
    br
    font(size='5' color='grey' align='right')
        i
        h3(align='center')  MENTOR MANUAL
        br
        br   
    font(size='3')    
        ul(type='disk') 
        li
            b What is JIIT Month of Code(JMOC)?
        | &#x9;&#x9;&#x9;JIIT Month of Code is an online program by the open-source club of JIIT Noida, the JODC, focused on introducing students to open source software development and documentation writing. Students will collaborate and contribute to open-source projects under the guidance of a mentor(s) for 3 weeks during the winter. Mentors are expected to submit their projects while applying as a mentor to the program, by January 6, 2020. Selected mentors will have their projects listed on the website by January 8 and are expected to guide any student that is interested in working on an issue in their project. At the end of the program, mentors are expected to provide feedback to the students that have worked on their project&apos;s issues. All active mentors will be provided with a digital certificate and swag from the organizing team.
        br
        br
        li
            b Goal of the program
        | &#x9;&#x9;&#x9;To introduce newcomers to open source on how to work with Git and GitHub, contribute to open-source projects, write documentation and understand the open-source culture.
        br
        br
        li
            b Eligibility
        | &#x9;&#x9;&#x9;To become a mentor for JMoC
        ol(type='1')
            li You must have at least one project with merge access on GitHub.
            li The project itself can be of any domain: web development, machine learning, blockchain, etc.
            li Your project must have a detailed README that describes what it is about, how to set it up and how to contribute to it
            li Your project must have at least 5 easy labeled issues
            li Your project(s) must be approved by organizers
            li You must have a dedicated public communication channel for each project, where studentsl may discuss and ask queries
            li You must be available for at least 6 hours a week to mentor students
        li
            b Why should you participate?
        ol(type='1')
            li To get help with your project
            li To gain publicity for your project
            li Swags!
            li For the spirit of open-source culture!
        b Contact
        br
        | &#x9;&#x9;&#x9;For further details contact us at 
        u
            a(href='mailto:jiitodc@gmail.com') jiitodc@gmail.com
        br
        hr