extends layout

block content
    .pb-2.mt-2.mb-4.border-bottom
        h1 Mentor Manual
    hr   
h2 JIIT MONTH OF CODE

h3 What is JIIT Month of Code?
| JIIT Month of Code is an online programme by the open-source club of JIIT Noida, the JODC, focused on introducing students to open source software development and documentation writing. Students will collaborate and contribute to open-source projects under the guidance of mentor(s) for 3 weeks during the winter. 
| Mentors are expected to submit their projects while applying as a mentor to the program, by January 6 2020. Selected mentors will have their projects listed on the website by January 8 and are expected to guide any student that is interested in working on an issue in their project.
| At the end of the program, mentors are expected to provide feedback to the students that have worked on their project's issues. All active mentors will be provided with a digital certificate and swag from the organising team.

| Goal of the program
| To introduce newcomers to open source on how to work with Git and GitHub, contribute to open-source projects, write documentation and understand open-source culture.

| Eligibility
| In order to become a mentor for JMoC
ul
    li must at least be 18 years old
    li You must have at least one project with merge access on GitHub. The project itself can be of any domain: web development, machine learning, blockchain etc.
    li Your project must have a detailed README that describes what it is about, how to set it up and how to contribute to it
    li project must have at least 5 easy labelled issues
    li Your project(s) must be approved by organizers
    li You must have a dedicated public communication channel for each project, where students may discuss and ask queries
    li You must be available for at least 6 hours a week to mentor students

h3 Why you should apply?
ul
    li To get help with your project
    li To gain publicity for your project
    li Swags!
    li For the spirit of open-source culture!

| Contact
| For further details contact us at jiitodc@gmail.com