extends layout

block content
    br
    font(size='5' color='grey' align='right')
        i
        h3(align='center')  STUDENT MANUAL
        br
        br 
    font(size="3")
        b What is JIIT Month of Code(JMOC)?
        br
        |   You all have seen all posters, promotions and website. Now the question arises what really is JMoC.
        |   So Here we go , a brief guide to what really JMoC is:
        br
        | JIIT MONTH of CODE  is an initiative of  JIIT Open-Source Developers Circle  ( JODC -128), for students who have no experience in open source software development. So its an opportunity for them to fire up there skills and learn new tech and see how big organizations work. JMoC is also an opportunity to contribute to there code base under the mentor ship of more experienced and expert professionals as well as your own college seniors. All the work will be done on GITHUB , a website used for open source hosting and software collaborations.
        br
        br
        | JMoC  is similar in structure but much smaller in scope then Google Summer Of Code / Outreachy / Season of KDE / Rails Girls Summer Of Code/ Girls Script Summer Of code and many such similar programs.
        br
        br
        | Students are expected to apply as a participant by January 6 2020. The selected projects and mentor contact details for each project will be listed on the website by January 8, 2020 for students to go through, and the contribution period begins on January 13, 2020.
        br
        | Students may select any issue to work on from the projects listed and inform the same to the mentor monitoring the project and join their communication channel. Students may ask for help on any issue from the project mentor, and mentors shall monitor student progress on issues. 
        br
        | At the end of the program, students will be assigned a pass or fail grade by the organisers and be provided with mentor feedback. All successful students will be provided with a digital certificate and swag
        |  from the organising team. 
        br
        br
        b Goal of the program
        br
        | In order to apply for JMoC,
        ol(type='I')
            li You must at least be 13 years old
            li You must own a GitHub account
            li You must have the drive to learn!
        br
        b Why should you participate?
        ol(type='1')
            li To expand your skillset
            li To learn how to work with Git and GitHub
            li To learn how to work in an open-source project
            li To get connected with mentors and similar-minded students
            li Swags!
            li For the spirit of open-source culture!
        b GETTING STARTED?
        ul(type='disk')
            li 
            | Have a GITHUB account
        | &#x9;&#x9;&#x9;Creating an account on 
        a(href='https://www.github.com') Github
        |  is the first step.
        br
        | &#x9;&#x9;&#x9;You need to have a github account to login and register for JMoC 
        br
        | &#x9;&#x9;&#x9;If you are new to github there resources might help:
        br
        ol(type='1')
        li
            u
                a(href='https://product.hubspot.com/blog/git-and-github-tutorial-for-beginners') An Intro to Git and GitHub for Beginners (Tutorial)
        li
            u
                a(href='https://lab.github.com/githubtraining/introduction-to-github') Introduction to GitHub
        li
            u
                a(href='https://www.linode.com/docs/development/version-control/how-to-install-git-on-linux-mac-and-windows/') How to Install Git on Linux, Mac or Windows
        br
        li
            b Register For the event at the website
            br
            | &#x9;&#x9;&#x9;Creating a GitHub account isn&apos;t just enough you also need to register for the  JMoC on its website and allow necessary permissions to access in order track your progress.
        br
        li
            b Selecting a project and making your contact 
            br
            | &#x9;&#x9;&#x9;You need to select a project to work on and contribute to. There will be issues in the project listed on GitHub and you can also add new issues after you find a bug or give a proposal to add a new feature to the project after discussing with the mentor of the project.
            br
            | &#x9;&#x9;&#x9;You can contact the mentor of the project at the specified communication channels or IRC .
            br
            br
        li
            b Contact
            br
            | &#x9;&#x9;&#x9;For further details contact us at 
            u
                a(href='mailto:jiitodc@gmail.com') jiitodc@gmail.com
            br
            hr