extends layout

block content

    .heading
      h1(align='center')  STUDENT MANUAL

    .content
        h4
          u Important Links
        p Register as a student here: link
        p Join our chat channel here: link

    .content
        h4
          u What is JIIT Month of Code (JMOC)?
        p JIIT Month of Code is an online programme by the open-source club of JIIT Noida, the JODC, focused on introducing students to open source software development and documentation writing. Students will collaborate and contribute to open-source projects under the guidance of mentor(s) for a month during the winter.
        p Students are expected to apply as a participant by January 6 2020. The selected projects and mentor contact details for each project will be listed on the website by January 3, 2020 for students to go through. The contribution period begins on January 5, 2020 and will end on February 5, 2020.
        p Students may select any issue to work on from the projects listed, inform the same to the mentor monitoring the project and join the project’s communication channel. Students may ask for help on any issue from the project mentor, and mentors shall monitor student progress on issues.
        p At the end of the program, students will be assigned a pass or fail grade by the organisers and will be provided with mentor feedback. All successful students will be provided with a digital certificate and swag from the organising team.
    .content
        h4
          u Goal of the program
        p To introduce newcomers to open source on how to work with Git and GitHub, contribute to open-source projects, write documentation and understand open-source culture.
    .content
        h4
          u Eligibility
        p In order to apply as a student for JMoC:
        ol(type='1')
            li You must at least be 13 years old
            li You must own a GitHub account
            li You must have the drive to learn!
    .content
        h4
          u Why should you participate?
        ol(type='1')
            li To expand your skillset
            li To learn how to work with Git and GitHub
            li To learn how to work in an open-source project
            li To get connected with mentors and similar-minded students
            li Swags!
            li For the spirit of open-source culture!
    .content
        h4
          u Contact
        p Got a query? Join our WhatsApp group or email us at jiitodc@gmail.com
