extends layout

block content
    .pb-2.mt-2.mb-4.border-bottom
        h1 Projects
    hr
    .row
        for project in projects
            .col-md-6
                h2 #{project.title}
                p #{project.description}
                p
                    a.btn.btn-raised(href='#(project.url)', role='button') View details »
