extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 New Project
  form(id='new-project', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='title') Title
      .col-md-7
        input.form-control(type='text', name='title', id='title', placeholder='Description', autofocus, autocomplete='Title of the project', required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='description') Description
      .col-md-7
        input.form-control(type='text', name='description', id='description', placeholder='Description', autocomplete='Description of the project', required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='url') Link to the project
      .col-md-7
        input.form-control(type='text', name='url', id='url', placeholder='url', autocomplete='Link to the project', required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='mentor') Name of the Mentor
      .col-md-7
        input.form-control(type='text', name='mentor', id='mentor', placeholder='mentor', autocomplete='Name of the Mentor', required)
    .form-group.offset-sm-3.col-md-7.pl-2
      button.btn.btn-success(type='submit')
        i.fas.fa-user-plus.fa-sm
        | Add Project
